{% extends "BlogBundle::layout.html.twig" %}
{% block title %}{{ post }}{% endblock %}
{% block canonical %}
  <link rel="canonical" href="{{ url('_blog_view', { 'slug' : post.slug }) }}"/>{% endblock %}
{% block meta_description %}{{ post.intro | striptags | raw | truncate(150) }}{% endblock %}
{% block meta_og %}
  <meta property="og:title" content="{{ post }}"/>
  <meta property="og:description" content="{{ post.intro | striptags | raw | truncate(150) }}"/>
  {% if post.hasImage %}
    <meta property="og:image" content="{{ post.image }}"/>
  {% else %}
    <meta property="og:image" content="{{ asset('bundles/app/ico/favicon-154.png') }}"/>
  {% endif %}
  <meta property="og:locale" content="{{ locale }}"/>
  <meta property="og:type" content="website"/>
{% endblock %}
{% block main %}
  <article class="row">
    {% include 'BlogBundle:Post:view.header.html.twig' with {'post': post} %}
    {{ post.content | raw }}

    {% if post.hasSource %}
      <p>Enlace a la fuente original:
        <a href="{{ path('_blog_redirect_post_source', {id: post.id}) }}" target="_blank"
           title="{{ post }}">{{ post }}</a>
      </p>
    {% endif %}
    <time datetime="{{ post.publishedAt | date('c') }}">Publicado
      el {{ post.publishedAt | localizeddate('long', 'none', locale) }}.
    </time>
    {% include 'BlogBundle:Post:view.tags.html.twig' with {'tags': post.tags } %}
    {% include 'BlogBundle:Post:view.social.html.twig' with {'url': url('_blog_view', { 'slug' : post.slug }) } %}
    {% include 'BlogBundle:Post:view.related.html.twig' with {'post': post  } %}
    {% include 'BlogBundle:Post:view.comment.html.twig' with {'form': form, 'comments': comments } %}
  </article>
{% endblock %}
