<ul class="nav">
  <li class="active"><a href="{{ url('_blog_backend_post') }}">Post</a></li>
  <li class=""><a href="{{ url('_blog_backend_comment') }}">Comment</a></li>
  <li class=""><a href="{{ url('_blog_backend_tag') }}">Tag</a></li>
  <li class=""><a href="{{ url('_blog_backend_author') }}">Author</a></li>
  <li class=""><a href="{{ url('_blog_backend_image') }}">Image</a></li>
  <li class=""><a href="{{ url('_blog_backend_link') }}">Link</a></li>
  <li class=""><a href="{{ url('_blog_backend_logout') }}">Log Out</a></li>
</ul>