<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}{{ blog_name }}{% endblock %}</title>
  {% block canonical %}{% endblock %}
  <meta name="description" content="{% block meta_description %}{{ blog_description }}{% endblock %}">
  <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block meta_og %}
    <meta property="og:title" content="{{ blog_name }}"/>
    <meta property="og:description" content="{{ blog_description }}"/>
    <meta property="og:image" content="{{ asset('bundles/app/ico/favicon-154.png') }}"/>
    <meta property="og:locale" content="{{ locale }}"/>
    <meta property="og:type" content="website"/>
  {% endblock %}
  {% block meta_twiter %}
    <meta property=":card" content="summary"/>
    <meta name="twitter:title" content="{{ blog_name }}"/>
  {% endblock %}
  {% block meta_other %}{% endblock %}
  {% block favicon %}
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="{{ asset('bundles/app/ico/favicon-144.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/app/ico/favicon-16.png') }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/app/ico/favicon-152.png') }}"/>
    <link rel="icon" sizes="32x32" href="{{ asset('bundles/app/ico/favicon-32.png') }}"/>
  {% endblock %}
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="rss feed" href="{{ path('_blog_feed') }}"/>
  {% endblock %}
  {% block stylesheets %}
    {% stylesheets
    '@BlogBundle/Resources/public/css/vendor/bootstrap/bootstrap.css'
    '@BlogBundle/Resources/public/css/vendor/bootstrap/bootstrap-theme.css'
    '@BlogBundle/Resources/public/css/vendor/fontawesome/fontawesome.css'
    filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
  {% endblock %}
</head>
<body>
{% block header %}
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('_blog_default') }}">{{ blog_name }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% set route = app.request.attributes.get('_route') %}
          <li class="{% if route == '_blog_archive' %}active{% endif %}">
            <a href="{{ path('_blog_archive') }}">Archivo</a>
          </li>
          <li class="{% if route == '_faq' %}active{% endif %}">
            <a href="{{ path('_faq') }}">FAQ's</a>
          </li>
          <li class="{% if route == '_new_blog' %}active{% endif %}">
            <a href="{{ path('_new_blog') }}">Enviar</a>
          </li>
          {% if not app.user %}
            <li class="{% if route == 'fos_user_security_login' %}active{% endif %}">
              <a href="{{ path('fos_user_security_login') }}">Entra</a>
            </li>
            <li class="{% if route == 'fos_user_registration_register' %}active{% endif %}">
              <a href="{{ path('fos_user_registration_register') }}">Regístrate</a>
            </li>
          {% else %}

            <li class="{% if route == '_blog_profile_edit' %}active{% endif %}">
              <a href="{{ path('_blog_profile_edit') }}">Perfil</a>
            </li>
            <li class="{% if route == 'fos_user_security_logout' %}active{% endif %}">
              <a href="{{ path('fos_user_security_logout') }}">Salir</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% block flash %}{% include "BlogBundle::layout.flash.html.twig" %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        {% block main %}Main{% endblock %}
      </div>
      <div class="col-md-4 hidden-xs">
        {% block sidebar %}Sidebar{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
  {% javascripts
  '@BlogBundle/Resources/public/js/vendor/jquery/jquery.js'
  '@BlogBundle/Resources/public/js/vendor/bootstrap/bootstrap.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}{% endblock %}
{% block analytics %}
  {% if ga_tracking is defined and blog_google_tracking is not empty %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ blog_google_tracking }}']);
      _gaq.push(['_trackPageview']);
      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    </script>
  {% endif %}
{% endblock %}
</body>
</html>