{% extends "::frontend.html.twig" %}

{% block title %} Etiqueta "{{ tag | upper }}" {% if page != 1 %}| Página {{ page }} {% endif %}| {{ parent() }}{% endblock %}
{% block meta_description %}Contenido relacionado con {{ tag | upper}}{% endblock %}
{% block meta_keywords %}{{ tag }}{% endblock %}
{% block meta %}
  <link rel="canonical" href="{{ url('_tag', { 'slug' : tag.slug, 'page' : page }) }}"/>
  <meta property="og:title" content="{{ tag }} {% if page != 1 %}| Página {{ page }} {% endif %}| {{ parent() }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ url('_tag', { 'slug' : tag.slug, 'page' : page }) }}"/>
  <meta property="og:description" content="{{ pagination.current.intro | striptags | raw | truncate(150) }}"/>
  {% if pagination.current.hasImage %}
    <meta property="og:image" content="{{ post.image }}"/>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in pagination %}
    {% include 'BlogBundle:Frontend/Post:item.html.twig' with {'post': post} %}
  {% else %}
    <p>No hay elementos</p>
  {% endfor %}

  <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
