{% if pageCount > 1 %}
  <ul class="pagination pagination-lg">
    {% if first is defined and current != first %}
      <li class="first">
        <a href="{{ url(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
      </li>
    {% endif %}

    {% if previous is defined %}
      <li class="previous">
        <a href="{{ url(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
      </li>
    {% endif %}

    {% for page in pagesInRange %}
      {% if page != current %}
        <li class="page">
          <a href="{{ url(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
        </li>
      {% else %}
        <li class="page active">
          <a href="{{ url(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
        </li>
      {% endif %}

    {% endfor %}

    {% if next is defined %}
      <li class="next">
        <a href="{{ url(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
      </li>
    {% endif %}

    {% if last is defined and current != last %}
      <li class="last">
        <a href="{{ url(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
      </li>
    {% endif %}
    </li>
  </ul>
{% endif %}
