<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Content</th>
            <th>Discusion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post_published_number }} Post published</td>
            <td>{{ comment_approved_number }} Comments approved </td>
        </tr>
        <tr>
            <td>{{ post_number }} Post</td>
            <td>{{ comment_number }} Comments </td>
        </tr>
        <tr>
            <td>{{ tag_number }} Tags</td>
            <td></td>
        </tr>
    </tbody>
</table>
