<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ title }}</title>
        <link>{{ url('_default') }}</link>
        <description>{{ description }}</description>
        <language>{{ language }}</language>
        <pubDate>{{ 'now'|date('r') }}</pubDate>
        <lastBuildDate>{{ 'now'|date('r') }}</lastBuildDate>
        <generator>BlogBundle</generator>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <ttl>{{ ttl }}</ttl>
        {% for item in items %}        
        <item>
            <title>{{ item.name }}</title>            
            {% if item.hasSource %}
                <link>{{ item.source }}</link>
            {% else %}
                <link>{{ url('_view', { 'slug' : item.slug }) }}</link>
            {% endif %}            
            <description>
                <![CDATA[
                {{ item.content | raw }}
                {% if item.hasSource %}
                    <p>Enlace a la fuente original: <a href="{{ item.source }}" target="_blank" title="{{ item }}">{{ item }}</a></p>
                {% endif %}
                ]]>
            </description>
            <guid>{{ url('_view', { 'slug' : item.slug }) }}</guid>
            <pubDate>{{ item.createdAt | date('r') }}</pubDate>
        </item>
        {% endfor %}

    </channel>
</rss>