{% extends "::frontend.html.twig" %}
{% block title %} Estadisticas del sitio {% endblock %}

{% block content %}
  <article class="post">
    <header>
      <h2><a href="{{ path('_blog_report') }}">Informe de entradas publicadas</a></h2>
    </header>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Entradas</th>
        <th>Comentarios</th>
        <th>Enlaces</th>
      </tr>
      </thead>
      <tr>
        <td>Última dia</td>
        <td>{{ post.last_day }}</td>
        <td>{{ comment.last_day }}</td>
        <td>{{ link.last_day }}</td>
      </tr>
      <tr>
        <td>Última semana</td>
        <td>{{ post.last_week }}</td>
        <td>{{ comment.last_week }}</td>
        <td>{{ link.last_week }}</td>
      </tr>
      <tr>
        <td>Último mes</td>
        <td>{{ post.last_month }}</td>
        <td>{{ comment.last_month }}</td>
        <td>{{ link.last_month }}</td>
      </tr>
      <tr>
        <td>Último año</td>
        <td>{{ post.last_year }}</td>
        <td>{{ comment.last_year }}</td>
        <td>{{ link.last_year }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ post.total }}</td>
        <td>{{ comment.total }}</td>
        <td>{{ link.total }}</td>
      </tr>
    </table>
  </article>
{% endblock %}
