{% extends "::frontend.html.twig" %}
{% block title %}{{ title }}{% endblock%}
{% block description %}{{ description }}{% endblock%}
{% block content %}
    <header>
        <h2><a href="{{ url('_archive') }}">{{ title }}</a></h2>            
    </header>
    {% for item in items %}
    <article class="post">    
        <p>
            <a href="{{ url('_archive_page' , 
            { 'year' : item.date.format('Y'), 'month': item.date.format('m') }) }}"
            >{{ item.date | localeCustomDate('short') | capitalize }}</a> {{ item.n }} elementos. 
        </p>        
    </article>
{% else %}
    <p>No hay elementos</p>
{% endfor %}
{% endblock %}