{% if rating is not defined %}
  {% set rating = post.rating %}
{% endif %}
<article class=" row">
  <header>
    <h2>
      <span class="rating {% if rating >= 0 %}positive{% else %}negative{% endif %}">
        {{ rating }}
      </span>
      <a href="{{ path('_blog_view', { 'slug' : post.slug }) }}" title="{{ post }}">{{ post }}</a>
    </h2>
  </header>
  {% if post.hasImage %}
    <img class="img" src="{{ post.image | imagine_filter('list') }}" alt="{{ post }}"/>
  {% endif %}
  {{ post.intro | raw }}
  {% if post.hasSource %}
    <p>Enlace a la fuente original: <a href="{{ post.source }}" target="_blank" title="{{ post }}">{{ post }}</a></p>
  {% endif %}
  <small>
    Publicado el
    <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | localeDate('full') }}.</time>
  </small>
</article>