{% extends "::frontend.html.twig" %}
{% block title %}{{ post }}{% endblock%}
{% block description %}{{ post.intro | striptags | raw | truncate(160) }}{% endblock%}
{% block content %}
<article class="post">
    <header>
        <h2><a href="{{ url('_view', { 'slug' : post.slug }) }}">{{ post }}</a></h2>            
    </header>
            {{ post.content | raw }}        
    <small>
        Publicado el <time datetime="{{ post.createdAt | date('c') }}">{{ post.createdAt | localeDate('full') }}</time>,
        modificado por última vez el <time datetime="{{ post.updatedAt | date('c') }}">{{ post.updatedAt | localeDate('full') }}</time>.
    </small>
        {% include 'BlogBundle:Frontend/Post:view.social.html.twig' with {'url': url('_view', { 'slug' : post.slug }) } %}    
        {% include 'BlogBundle:Frontend/Post:view.tags.html.twig' with {'tags': post.tags } %}            
</article>
    {% include 'BlogBundle:Frontend/Post:view.comment.html.twig' with {'form': form, 'comments': comments } %}
{% endblock %}