<ul>
  {% for comment in comments %}
    <li>
      <a href="{{ path('_blog_view', { 'slug' : comment.post.slug }) }}#comment-{{ comment.id }}"
         title="{{ comment.post }}">
        {{ comment | striptags | truncate(160) }}
      </a>
      <small> at
        <time datetime="{{ comment.createdAt | date('c') }}">
          {{ comment.createdAt | localeDate('long') }}</time>
      </small>
    </li>
  {% else %}
    <li>No elements</li>
  {% endfor %}
</ul>
