<h2>Dejanos tu comentario</h2>
<form id="post-comment" action="{{ path('_blog_comment_create', { 'post_id' : post.id }) }}"
      method="post" {{ form_enctype(form) }}>
  <div class="row-fluid">
    {% if form_errors(form) %}
      <div class="alert alert-error">{{ form_errors(form) }}</div>
    {% endif %}
    <div class="span7">
      <p>
        <label for="">Comentario(*)</label>
        {% if form_errors(form.content) %}

      <div class="alert alert-error">{{ form_errors(form.content) }}</div>
      {% endif %}
      {{ form_widget(form.content) }}
      </p>
    </div>
  </div>

  {{ form_rest(form) }}
</form>
<p>Los campos marcados con (*) son obligatorios</p>
