{% if form_errors(form) %}
    <div class="alert alert-block alert-error fade in form-errors">
    {{ form_errors(form) }}
    </div>
{% endif %}
<p>
    <label for="">User Name</label>
    {% if form_errors(form.userName) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.userName) }}
        </div>
    {% endif %}
    {{ form_widget(form.userName, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">User Email</label>
    {% if form_errors(form.userEmail) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.userEmail) }}
        </div>
    {% endif %}
    {{ form_widget(form.userEmail, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">User Web</label>
    {% if form_errors(form.userWeb) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.userWeb) }}
        </div>
    {% endif %}
    {{ form_widget(form.userWeb, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">Text</label>
    {% if form_errors(form.content) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.content) }}
        </div>
    {% endif %}
    {{ form_widget(form.content, { 'attr': {'class': 'w100 h500'} }) }}
</p>
<p>
    <label for="">Is Published</label>
    {% if form_errors(form.status) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.status) }}
        </div>
    {% endif %}
    {{ form_widget(form.status) }}
</p>
<p>
    <button class="btn" type="submit">Save</button>
    <a class="btn" href="{{ url('_blog_backend_comment') }}">Cancel</a>
</p>
{{ form_rest(form) }}
