{% extends "BlogBundle::layout.html.twig" %}
{% block title %}
  Archivo del sitio {{ pagination.current.item.publishedAt | date('F') | capitalize }}
  {% if page != 1 %}| Página {{ page }} | {% endif %} {{ parent() }}
{% endblock %}
{% block canonical %}
  <link rel="canonical" href="{{ url('_blog_archive_page', {'year': year, 'month': month}) }}"/>
{% endblock %}
{% block meta_description %}{{ pagination.current.item.intro | striptags | truncate(150) }}{% endblock %}
{% block meta_keywords %}{% for tag in  pagination.current.item.tags %}{{ tag }}, {% endfor %}{% endblock %}
{% block meta_og %}
  {{ parent() }}
  <meta property="og:title" content="Año {{ year }} mes de {{ month }} | Archivo del sitio |
  {% if page != 1 %}Página {{ page }} | {% endif %}"/>
  <meta property="og:url" content="{{ url('_blog_archive_page', {'year': year, 'month': month}) }}"/>
  <meta property="og:description" content="{{ pagination.current.item.intro | striptags | truncate(150) }}"/>
  {% if pagination.current.item.hasImage %}
    <meta property="og:image" content="{{ pagination.current.item.image }}"/>
  {% endif %}
{% endblock %}
{% block meta_twiter %}
  {{ parent() }}
  <meta property="twitter:title" content="Año {{ year }} mes de {{ month }} | Archivo del sitio |
  {% if page != 1 %}Página {{ page }} | {% endif %}"/>
  <meta property="twitter:description" content="{{ pagination.current.item.intro | striptags | truncate(150) }}"/>
  {% if pagination.current.item.hasImage %}
    <meta property="twitter:image:src" content="{{ pagination.current.item.image }}"/>
  {% endif %}
{% endblock %}
{% block main %}
  <article class="row">
    <header>
      <h1>
        <a href="{{ path('_blog_archive') }}" title="Archivo del sitio">
          {{ pagination.current.item.publishedAt | date('F Y') | capitalize }}
          {% if page != 1 %} Página {{ page }}{% endif %}
        </a>
      </h1>
    </header>
    <p>Puedes encontrar todas las entradas del sitio ordenadas por fecha</p>
    <ul id="results">
      {% for item in pagination %}
        {% set item = item.item %}
        <li>
          <a href="{{ path('_blog_view', { 'slug' : item.slug }) }}" title="{{ item }}">{{ item }}</a>
          {{ item.intro | striptags | raw | truncate(160) }} [..]
          el
          <time datetime="{{ item.publishedAt | date('c') }}">
            {{ item.publishedAt | localizeddate('long', 'none', locale) }}
          </time>
          .
        </li>
      {% else %}
        <li>No hay elementos</li>
      {% endfor %}
    </ul>
  </article>
  <div class="navigation row">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
