{% extends "::backend.html.twig" %}

{% block content %}
{% include 'BlogBundle:Backend/Tag:index.filter.html.twig' with {'filterForm': filterForm } %}
<div class="span12">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Posts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ url('_blog_back_author_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.posts|length }}</td>
                <td>
                    <a href="{{ url('_blog_back_author_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div><a class="btn " href="{{ url('_blog_back_author_new') }}">new entry</a></div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
