{% if form_errors(form) %}
    <div class="alert alert-block alert-error fade in form-errors">
    {{ form_errors(form) }}
    </div>
{% endif %}
<p>
    <label for="">Nombre</label>
    {% if form_errors(form.name) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.name) }}
        </div>
    {% endif %}
    {{ form_widget(form.name, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">URL</label>
    {% if form_errors(form.url) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.url) }}
        </div>
    {% endif %}
    {{ form_widget(form.url, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">RSS</label>
    {% if form_errors(form.rss) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.rss) }}
        </div>
    {% endif %}
    {{ form_widget(form.rss, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">Mail</label>
    {% if form_errors(form.mail) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.mail) }}
        </div>
    {% endif %}
    {{ form_widget(form.mail, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">Description</label>
    {% if form_errors(form.description) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.description) }}
        </div>
    {% endif %}
    {{ form_widget(form.description, { 'attr': {'class': 'w100 h300'} }) }}
</p>
<p>
    <label for="">Notes</label>
    {% if form_errors(form.notes) %}
    <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.notes) }}
    </div>
{% endif %}
    {{ form_widget(form.notes, { 'attr': {'class': 'w100 h300'} }) }}
</p>
<p>
    <label for="">Is Published</label>
    {% if form_errors(form.isPublished) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.isPublished) }}
        </div>
    {% endif %}
    {{ form_widget(form.isPublished) }}
</p>
<p>
    <button class="btn" type="submit">Save</button>
    <a class="btn" href="{{ url('post') }}">Cancel</a>
</p>
{{ form_rest(form) }}
