{% if form_errors(form) %}
    <div class="alert alert-block alert-error fade in form-errors">
    {{ form_errors(form) }}
    </div>
{% endif %}
<p>
    <label for="">Nombre</label>
    {% if form_errors(form.name) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.name) }}
        </div>
    {% endif %}
    {{ form_widget(form.name, { 'attr': {'class': 'w100'} }) }}
</p>
<p>
    <label for="">Intro</label>
    {% if form_errors(form.intro) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.intro) }}
        </div>
    {% endif %}
    {{ form_widget(form.intro, { 'attr': {'class': 'w100 h300'} }) }}
</p>
<p>
    <label for="">Text</label>
    {% if form_errors(form.content) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.content) }}
        </div>
    {% endif %}
    {{ form_widget(form.content, { 'attr': {'class': 'w100 h500'} }) }}
</p>
<p>
    <label for="">Tags</label>
    {% if form_errors(form.tags) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.tags) }}
        </div>
    {% endif %}
    {{ form_widget(form.tags) }}
</p>
<p>
    <label for="">Is Published</label>
    {% if form_errors(form.isPublished) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.isPublished) }}
        </div>
    {% endif %}
    {{ form_widget(form.isPublished) }}
</p> 
<p>
    <button class="btn" type="submit">Save</button>
    <a class="btn" href="{{ url('post') }}">Cancel</a>
</p>
{{ form_rest(form) }}
