{% extends "BlogBundle::frontend.html.twig" %}
{% block title %}{{ post }}{% endblock%}
{% block content %}
    <article class="post">
        <header>
            <h2><a href="{{ url('_blog_view', { 'slug' : post.slug }) }}">{{ post }}</a></h2>
            <small>
                <time datetime="{{ post.createdAt | date('c') }}">
                    {{ post.createdAt | localeDate('full') }} at {{ post.createdAt | localeDate('none', 'short') }}</time>
            </small>
        </header>
            {{ post.content | raw }}
        {% include 'BlogBundle:Frontend/Post:view.social.html.twig' with {'url': url('_blog_view', { 'slug' : post.slug }) } %}
        {% include 'BlogBundle:Frontend/Post:view.tags.html.twig' with {'tags': post.tags } %}
    </article>
{% endblock %}
