{% extends "::backend.html.twig" %}

{% block content %}
{% include 'BlogBundle:Backend/Tag:index.filter.html.twig' with {'filterForm': filterForm } %}
<div class="span12">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
                <th>Created / Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.items }}</td>
                <td>{{ entity.createdAt|date('Y-m-d') }} / {{ entity.updatedAt|date('Y-m-d') }}</td>
                <td>
                    <a class="bnt btn-mini" href="{{ url('_blog_backend_tag_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><a class="btn " href="{{ url('_blog_backend_tag_new') }}">new entry</a></div>
    <div class="navigation row">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
