{% if form_errors(form) %}
    <div class="alert alert-block alert-error fade in form-errors">
    {{ form_errors(form) }}
    </div>
{% endif %}
<p>
    <label for="">Name</label>
    {% if form_errors(form.file) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(form.file) }}
        </div>
    {% endif %}
    {{ form_widget(form.file) }}
</p>
<p>
    <button class="btn" type="submit">Save</button>
    <a class="btn" href="{{ url('_blog_backend_image') }}">Cancel</a>
</p>
{{ form_rest(form) }}
