<div class="span12">
    {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(filterForm) }}
        </div>
    {% endif %}
    <form class="well" action="{{ url('_blog_backend_image') }}" method="post" {{ form_enctype(filterForm) }}>
        <div id="filters" class="row-fluid clearfix ">
            <div class="span3">
                <label>Name: </label>
                {{ form_widget(filterForm.file) }}
            </div>
            <div class="span3">
                <button type="submit" name="filter_action" value="filter">Filter</button>
                <button type="submit" name="filter_action" value="reset">Reset</button>
            </div>
            {{ form_rest(filterForm) }}
        </div>
    </form>
</div>
