<form id="search" action="{{ path('_blog_search') }}" method="get" {{ form_enctype(form) }}>
  {% if form_errors(form) %}
    <div class="alert alert-error">{{ form_errors(form) }}</div>
  {% endif %}
  {% if form_errors(form.q) %}
    <div class="alert alert-error">{{ form_errors(form.q) }}</div>
  {% endif %}
  <div class="row-fluid">
    <div class="span9">{{ form_widget(form.q) }}</div>
    <div class="span3">
      <button class="btn" type="submit">Enviar</button>
    </div>
  </div>
  {{ form_rest(form) }}
</form>
