{% extends "::frontend.html.twig" %}
{% block title %}
  {% if query %} Resultados de busqueda "{{ query }}" {% else %} Buscar {% endif %}
  {% if page != 1 %}| Página {{ page }} {% endif %} | {{ parent() }}
{% endblock %}
{% block canonical %}
  <link rel="canonical" href="{{ url('_blog_search', {'q': query}) }}"/>
{% endblock %}
{% block meta_description %}{% if items.0 is defined %}{{ items.0.intro | striptags | truncate(150) }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if items.0 is defined %}{% for tag in  items.0.tags %}{{ tag }}, {% endfor %}{% endif %}{% endblock %}
{% block meta_og %}
  {% if items.0 is defined %}
    <meta
    property="og:title" content="{% if query %}Resultados de busqueda {{ query }}{% else %} Buscar {% endif %} | {{ parent() }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url('_blog_search', {'q': query}) }}"/>
    <meta property="og:description" content="{{ items.0.intro | striptags | truncate(150) }}"/>
    {% if items.0.hasImage %}
      <meta property="og:image" content="{{ items.0.image }}"/>
    {% endif %}
  {% endif %}
{% endblock %}
{% block content %}
  <article class="post">
    <header>
      {% if query %}
        <h2>
          <a href="{{ path('_blog_search', {'q': query}) }}">
            Resultados de busqueda "{{ query }}"
            {% if page != 1 %} Página {{ page }}{% endif %}
          </a>
        </h2>
      {% else %}
        <h2>Buscar</h2>
      {% endif %}
    </header>
    {% include 'BlogBundle:Frontend/Search:form.html.twig' with {'form': form} %}
    {% if query %}
      <ul id="search-results">
        {% for item in items %}
          <li>
            <h5><a href="{{ path('_blog_view', { 'slug' : item.slug }) }}"
                   title="{{ item }}">{{ item | highlight(query) | raw }}</a></h5>
            {{ item.intro | striptags |  truncate(160) | highlight(query) | raw }} [..] el
            <time datetime="{{ item.publishedAt | date('c') }}">
              {{ item.publishedAt | localeDate('full') }}.
            </time>
          </li>
        {% else %}
          <li>No se han encontrado resultados de para la búsqueda</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if pagination %}
      <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
    {% endif %}
  </article>
{% endblock %}
{% block search_widget %}{% endblock %}
