{% extends "::backend.html.twig" %}
{% block body %}
<div class="container">
    <div class=" content">
        <div class="form">
                <h2>Login</h2>
                {% if error %}
                <div class="alert alert-error" >{{ error.message }}</div>
                {% endif %}
            <form action="{{ url('fos_user_security_check') }}" method="post">
                <fieldset>
                    <div class="clearfix">
                        <input type="text" placeholder="Username" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="clearfix">
                        <input class="" type="password" id="password" name="_password" placeholder="Password" />
                    </div>
                    <button class="btn btn-primary btn-large" type="submit">Sign in</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/blog/css/admin-login.css') }}" rel="stylesheet" />
{% endblock %}
